body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    color: #333;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Хедер */
.header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
}

.header_business {
    display: flex;
    align-items: center;
    background-color: #4B589A;
    padding: 5px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tab-link-fields {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon:hover{
    border-bottom: 2px solid #ffffff;
}

.ebank-field {
    text-decoration: none;
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    /* padding: 5px 10px; */
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.ebank-field:hover{
    border-bottom: 2px solid #ffffff;
}

.menu {
    width: 100%;
    display: flex; /* Вирівнює елементи в один рядок */
    justify-content: flex-end; /* Розташовує блок справа */
    align-items: center; /* Вирівнює елементи по вертикалі */
}

.tab-link-fields:hover {
    border-bottom: 2px solid #ffffff;
}

.vidget1 {
    width: 60%;
    height: 150px;
    background-color: #ECECEC;
    flex: 2;
    margin: 20px;
    padding: 20px;
    margin-left: 8%;
}

.main_container{
    display: flex;
    width: 100%;
    height: 400px;
    
}

.vidget2 {
    width: 40%;
    height: auto;
    background-color: #fff;
    flex: 2;
    margin: 20px;
    padding: 20px;
    margin-right: 12%;
}



.my_wallet{
    color: #000000;
    font-weight: bold;
    margin-left: 25px;
    
}

.tab-link-fields-arrow{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-arrow:hover{
    border-bottom: 2px solid #000000;
}


.title-container {
    display: flex;
    margin-bottom: -20px;
    align-items: center;
}

.my_transactions{
    color: #000000;
    font-weight: bold;
    margin-left: 400px;
}

.transfer{
    color: #000000;
    font-weight: bold;
    margin-left: 25px;
}

.top_up_phone_number{
    color: #000000;
    font-weight: bold;
    margin-left: 345px;
}

.card{
    width: 350px;
    height: 200px;
    background-color: #000000;
    border-radius: 20px;
}

.text{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.card-container {
    display: flex;
    margin-bottom: -20px;
    /* align-items: center; */
    gap: 20px;
    justify-content: flex-start;
    
    
}

.bank_name{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

.card_number{
    color: #ffffff;
    font-size: 22px;
    /* margin-left: 20px; */
    text-align: center;
    font-family: 'Courier New', monospace;
}


.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20%;
    margin-left: 2%;
}

.green-button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.green-button:hover {
    background-color: #45a049;
}







