.header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tab-link-fields {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.ebank-field {
    text-decoration: none;
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    /* padding: 5px 10px; */
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.ebank-field:hover{
    border-bottom: 2px solid #ffffff;
}


.tab-link-fields-icon:hover{
    border-bottom: 2px solid #ffffff;
}

.menu {
    width: 100%;
    display: flex; /* Вирівнює елементи в один рядок */
    justify-content: flex-end; /* Розташовує блок справа */
    align-items: center; /* Вирівнює елементи по вертикалі */
}

.tab-link-fields:hover {
    border-bottom: 2px solid #ffffff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Контейнер */
.container {
    width: 90%; /* Збільшуємо відносну ширину */
    max-width: 800px; /* Збільшуємо максимальну ширину */
    margin: 0 auto;
    height: auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


  .account-details {
    padding: 20px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .value {
    text-align: right;
  }
  
  .pay-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .pay-button:hover {
    background-color: #45a049;
  }

  .profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    background-color: #ddd;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.profile-phone {
    font-size: 16px;
    color: #666;
    margin: 5px 0 0;
    font-weight: bold;
}



.buttons-row {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    /* background-color: #fff; */
    /* border-radius: 0 0 10px 10px; */
}

.exit-button, .update-button {
    width: 150px;
    border-radius: 20px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.exit-button:hover, .update-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exit-button {
    background-image: url("../icons/exit.png");
}

.update-button {
    background-image: url("../icons/update_info.png");
}
