body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Хедер */
.header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    padding: 5px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}


.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu {
    width: 100%;
    display: flex; /* Вирівнює елементи в один рядок */
    justify-content: flex-end; /* Розташовує блок справа */
    align-items: center; /* Вирівнює елементи по вертикалі */
}

.tab-link-fields {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon:hover{
    border-bottom: 2px solid #ffffff;
}


.tab-link-fields:hover {
    border-bottom: 2px solid #ffffff;
}


.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

/* Ліва секція */
.left-section {
    flex: 1;
    text-align: left;
}

.credit-value-block {
    padding: 10px;
    background-color: #f9f9f9;
    margin-left: 70px;
}

.credit-amount {
    font-size: 16px;
    color: #666;
    font-weight: bold;
}

.credit-value {
    font-size: 32px;
    font-weight: bold;
}

/* Права секція */
.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.credit-details {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-weight: bold;
}

.credit-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group .input-icon {
    width: 24px;
    height: 24px;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.action-button:hover {
    transform: scale(1.1);
    background-color: #45a049;
}


.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}



.tab-link-fields-arrow {
    height: 35px;
    width: 35px;
    padding: 5px;
    border: none;
    background: none; /* Відсутній фон, щоб кнопка була прозорою */
    cursor: pointer;
}

.tab-link-fields-arrow img {
    height: 100%; /* Іконка займає весь простір кнопки */
    width: 100%;
}


.tab-link-fields-arrow:hover{
    border-bottom: 2px solid #000000;
}

.ebank-field {
    text-decoration: none;
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    /* padding: 5px 10px; */
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.ebank-field:hover{
    border-bottom: 2px solid #ffffff;
}

.arrow-button {
    background: none;

    
    padding: 10px; /* Внутрішній відступ */
    width: 40px; /* Розмір кнопки */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.arrow-button:hover {
    border-bottom: 2px solid #000000;
    transform: scale(1.1); /* Збільшення при наведенні */
}

.arrow-button img {
    width: 16px; /* Розмір іконки */
    height: 16px;
}

.button_box {
    display: flex;
    justify-content: flex-start; /* Вирівнює кнопку зліва */
    margin-top: 40%;
    /* align-items: flex-end; */
    height: 100%; /* Займає всю висоту секції */
}

.deposit_button {
    width: 200px; /* Ширина кнопки */
    height: 40px; /* Висота кнопки */
    background-color: #4CAF50; /* Зелений фон */
    color: #fff; /* Білий текст */
    font-size: 16px;
    font-weight: bold;
    border: none; /* Забирає рамку */
    border-radius: 10px; /* Закруглення країв */
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.deposit_button:hover {
    background-color: #45a049; /* Темніший зелений при наведенні */
    transform: scale(1.05); /* Легке збільшення при наведенні */
}

#credit_number {
    width: 100%; /* Ширина поля */
    height: 40px; /* Висота поля */
    padding: 8px 10px; /* Відступи всередині */
    font-size: 16px; /* Розмір шрифта */
    border: 1px solid #ccc; /* Бордер навколо */
    border-radius: 5px; /* Закруглені кути */
    background-color: #f9f9f9; /* Колір фону */
    color: #333; /* Колір тексту в списку */
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif; /* Вибір шрифта */
    appearance: none; /* Видалення стандартного вигляду браузера для select */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
}

.input-icon {
    position: absolute;
    right: 10px; /* Іконка праворуч */
    top: 50%;
    transform: translateY(-50%); /* Центрує по вертикалі */
    width: 20px;
    height: auto;
    pointer-events: none; /* Іконка не повинна реагувати на кліки */
}
