body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    color: #333;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Хедер */
.header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    padding: 5px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}

.header_business {
    display: flex;
    align-items: center;
    background-color: #4B589A;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tab-link-fields {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon:hover{
    border-bottom: 2px solid #ffffff;
}

.menu {
    width: 100%;
    display: flex; /* Вирівнює елементи в один рядок */
    justify-content: flex-end; /* Розташовує блок справа */
    align-items: center; /* Вирівнює елементи по вертикалі */
}

.tab-link-fields:hover {
    border-bottom: 2px solid #ffffff;
}

.vidget1 {
    width: 50%;
    height: 250px;
    background-color: #fff;
    flex: 2;
    margin: 20px;
    padding: 20px;
}

.main_container{
    display: flex;
    width: 100%;
    
}

.vidget2 {
    height: 150px;
    background-color: #fff;
    flex: 2;
    margin: 20px;
    padding: 20px;
}

.my_wallet{
    color: #000000;
    font-weight: bold;
    margin-left: 25px;
    
}

.tab-link-fields-arrow{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-arrow:hover{
    border-bottom: 2px solid #000000;
}


.title-container {
    display: flex;
    margin-bottom: -20px;
    align-items: center;
}

.my_transactions{
    color: #000000;
    font-weight: bold;
    margin-left: 400px;
}

.transfer{
    color: #000000;
    font-weight: bold;
    margin-left: 25px;
}

.top_up_phone_number{
    color: #000000;
    font-weight: bold;
    margin-left: 25px;
}

.card{
    width: 420px;
    height: 225px;
    background-color: #000000;
    border-radius: 20px;
}

.text{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.card-container {
    display: flex;
    margin-bottom: -20px;
    /* align-items: center; */
    gap: 20px;
    justify-content: flex-start;
}

.bank_name{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
}

.card_number{
    color: #ffffff;
    font-size: 30px;
    /* margin-left: 20px; */
    text-align: center;
    font-family: 'Courier New', monospace;
}


.card_form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.card_form input{
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.refill_phone_form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.refill_phone_form input{
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

  .transfer-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Відстань між інпутом і значком */
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px; 
}

.transfer-container input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.card-icon {
    width: 40px;
    height: 35px;
}

.refill-phone-container{
    display: flex;
    align-items: center;
    gap: 10px; /* Відстань між інпутом і значком */
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    max-width: 400px; 
}

.refill-phone-container input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.phone-icon{
    width: 40px;
    height: 40px;
}

.card-sum-container{
    display: flex;
    align-items: center;
    gap: 10px; /* Відстань між інпутом і значком */
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px; 
}

.card-sum-container input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dollar-icon{
    width: 40px;
    height: 40px;
}

.phone-sum-container{
    display: flex;
    align-items: center;
    gap: 10px; /* Відстань між інпутом і значком */
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    max-width: 400px; 
}

.phone-sum-container input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form_transfer{
    width: 50%;
}


