/* Загальні стилі */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Хедер */
.header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    padding: 5px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}


.header_business {
    display: flex;
    align-items: center;
    background-color: #4B589A;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tab-link-fields {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.ebank-field {
    text-decoration: none;
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    /* padding: 5px 10px; */
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.ebank-field:hover{
    border-bottom: 2px solid #ffffff;
}

.tab-link-fields-icon:hover{
    border-bottom: 2px solid #ffffff;
}

.menu {
    width: 100%;
    display: flex; /* Вирівнює елементи в один рядок */
    justify-content: flex-end; /* Розташовує блок справа */
    align-items: center; /* Вирівнює елементи по вертикалі */
}

.tab-link-fields:hover {
    border-bottom: 2px solid #ffffff;
}

.sum{
    margin: 50px;
    margin-left: 75px;
    font-size: 20px;
}

/* Форми */
.form-container {
    padding: 20px;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.tabs button {
    background: none;
    border: none;
    font-size: 16px;
    color: #4CAF50;
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
}

.tabs button:hover {
    border-bottom: 2px solid #4CAF50;
    color: #388E3C; 
}

.tabs .active {
    border-bottom: 2px solid #4CAF50;
    font-weight: bold;
}

.tab-link {
    text-decoration: none;
    font-size: 16px;
    color: #4CAF50;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.tab-link:hover {
    border-bottom: 2px solid #4CAF50;
    color: #388E3C;
}

.transfer-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* .transfer-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
} */

.transfer-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.transfer-form button:hover {
    background-color: #45a049;
}

.transfer-form input,
.transfer-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


#payment_destination {
    height: 100px;
}

