body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header_business {
    display: flex;
    align-items: center;
    background-color: #4B589A;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tab-link-fields {
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-icon{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.ebank-field {
    text-decoration: none;
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
    /* padding: 5px 10px; */
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.ebank-field:hover{
    border-bottom: 2px solid #ffffff;
}

.tab-link-fields-icon:hover{
    border-bottom: 2px solid #ffffff;
}

.menu {
    width: 100%;
    display: flex; /* Вирівнює елементи в один рядок */
    justify-content: flex-end; /* Розташовує блок справа */
    align-items: center; /* Вирівнює елементи по вертикалі */
}

.tab-link-fields:hover {
    border-bottom: 2px solid #ffffff;
}



.tab-link-fields-arrow{
    height: 35px;
    width: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.tab-link-fields-arrow:hover{
    border-bottom: 2px solid #000000;
}


.transactions-text{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.transactions-container{
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
   
    
}

.transaction{
    width: 900px;
    height: 70px;
    background-color: #D9D9D9;
    display: flex;
    /* justify-content: center;  */
    align-items: center; 
    margin-bottom: 20px;
    gap: 80px;
    justify-content: space-between;
}

.transaction-text{
    font-size: 16px;
    font-weight: bolder;
    margin-left: 30px;
    
    top: 50%;
}

.image-button {
    border: none; /* Видаляємо рамку кнопки */
    background: none; /* Видаляємо фон кнопки */
    cursor: pointer; /* Вказівник змінюється на "руку" */
    padding: 0; /* Видаляємо внутрішні відступи */
    margin-right: 25px;
}

.image-button img {
    width: 40px; /* Ширина картинки */
    height: 35px; /* Висота картинки */
}



