<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Підтвердження платежу</title>
    <link rel="stylesheet" href="..\static\styles\client_cabinet_styles.css">
</head>
<header class="header">
    <img src="..\static\icons\logo.png" alt="Логотип банку" class="logo">
    <h1> <a href="home_screen.html" class="ebank-field">еБАНК</a></h1>
    <div class="menu">
        <a href="exchange_rates.html" class="tab-link-fields">курс валют</a>
        <a href="for_business_screen.html" class="tab-link-fields">для бізнесу</a>
        <a href="deposits.html" class="tab-link-fields">депозит</a>
        <a href="credit_history.html" class="tab-link-fields">кредит</a>
        <a href="notifications.html"><img src="..\static\icons\bell-icon.png" alt="Сповіщення" class="tab-link-fields-icon"></a>
    </div>
</header>
<body>
    <div class="container">
        <div class="profile-header">
            <img src="..\static\icons\user.png" alt="Фото користувача" class="profile-image">
            <div class="profile-info">
                <h2 class="profile-name">Петрик Петро Петрович</h2>
                <p class="profile-phone">+380 (000) 000 00 00</p>
            </div>
        </div>
        
        
        <main class="account-details">
          <div class="detail-row">
            <span class="label">Номер паспорту</span>
            <span class="value">004856248</span>
          </div>
          <div class="detail-row">
            <span class="label">Адреса проживання</span>
            <span class="value">м. Київ, ЖК Taryan Tower</span>
          </div>
          <div class="detail-row">
            <span class="label">Електронна пошта</span>
            <span class="value">gagarin.info@ukr.net</span>
          </div>
          <div class="detail-row">
            <span class="label">РНОКПП</span>
            <span class="value">3880908006</span>
          </div>
        </main>
        <div class="buttons-row">
          <button class="exit-button" title="Вихід з аккаунту" onclick="window.location.href='index.html';"></button>
          <button class="update-button" title="Оновити дані" onclick="window.location.href='update_account_info.html';"></button>
      </div>
      
        
       
      </div>
    
   
    
    
    
</body>
</html>
