<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Підтвердження платежу</title>
    <link rel="stylesheet" href="..\static\styles\client_cabinet_styles.css">
</head>
<header class="header">
    <img src="..\static\icons\logo.png" alt="Логотип банку" class="logo">
    <h1> <a href="{{ url_for('home_screen') }}" class="ebank-field">еБАНК</a></h1>
    <div class="menu">
        <a href="{{url_for('exchange_rates')}}" class="tab-link-fields">курс валют</a>
        <a href="for_business_screen.html" class="tab-link-fields">для бізнесу</a>
        <a href="{{url_for('deposits')}}" class="tab-link-fields">депозит</a>
        <a href="{{url_for('credit_history')}}" class="tab-link-fields">кредит</a>
        <a href="{{ url_for('client_cabinet') }}"><img src="..\static\icons\user.png" alt="Особистий кабінет" class="tab-link-fields-icon"></a>
    </div>
</header>
<body>
    <div class="container">
        <div class="profile-header">
            <img src="..\static\icons\user.png" alt="Фото користувача" class="profile-image">
            <div class="profile-info">
                <h2 class="profile-name">{{ client[0] }} {{ client[1] }} {{ client[2] }}</h2>
                <p class="profile-phone">+38 {{ client[3] }}</p>
            </div>
        </div>


        <main class="account-details">
          <div class="detail-row">
            <span class="label">Номер паспорту</span>
            <span class="value">{{ client[5] }}</span>
          </div>
          <div class="detail-row">
            <span class="label">Адреса проживання</span>
            <span class="value">{{ client[6] }}</span>
          </div>
          <div class="detail-row">
            <span class="label">Електронна пошта</span>
            <span class="value">{{ client[4] }}</span>
          </div>
          <div class="detail-row">
            <span class="label">РНОКПП</span>
            <span class="value">{{ client[7] }}</span>
          </div>
        </main>
        <div class="buttons-row">
          <button class="exit-button" title="Вихід з акаунту" onclick="location.href='{{ url_for('logout') }}'; return false;"></button>
          <button class="update-button" title="Оновити дані" onclick="location.href='{{ url_for('update_info') }}'; return false"></button>
        </div>
    </div>

</body>
</html>
