<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>еБАНК - Банк твоїх можливостей</title>
    <link rel="stylesheet" href="..\static\styles\credit_history_styles.css">
</head>
<header class="header">
    <img src="..\static\icons\logo.png" alt="Логотип банку" class="logo">
    <h1> <a href="{{url_for('home_screen')}}" class="ebank-field">еБАНК</a></h1>
    <div class="menu">
        <a href="{{url_for('exchange_rates')}}" class="tab-link-fields">курс валют</a>
        <a href="{{url_for('deposits')}}" class="tab-link-fields">депозит</a>
        <a href="{{url_for('credit_history')}}" class="tab-link-fields">кредит</a>
        <a href="{{ url_for('client_cabinet') }}"><img src="..\static\icons\user.png" alt="Особистий кабінет" class="tab-link-fields-icon"></a>
    </div>
</header>
<body>
    <div class="transactions-container">
        <p class="transactions-text">Мої кредити </p>
        <p class="sum">Сума <span class="status">Статус</span></p>
        <a href="take_a_credit.html" class="transaction">
            <p class="transaction-text">10 000.00 грн</p>
            <div class="status-container">
                <span class="status-value">Закритий</span>
                <button class="image-button">
                    <img src="..\static\icons\print.png" alt="Друкувати ПДФ">
                </button>
            </div>
        </a>

        <a href="take_a_credit.html" class="transaction">
            <p class="transaction-text">10 000.00 грн</p>
            <div class="status-container">
                <span class="status-value">Закритий</span>
                <button class="image-button">
                    <img src="..\static\icons\print.png" alt="Друкувати ПДФ">
                </button>
            </div>
        </a>

        <a href="take_a_credit.html" class="transaction">
            <p class="transaction-text">10 000.00 грн</p>
            <div class="status-container">
                <span class="status-value">Закритий</span>
                <button class="image-button">
                    <img src="..\static\icons\print.png" alt="Друкувати ПДФ">
                </button>
            </div>
        </a>
        
        <div class="button_box">
            <button class="deposit_button" title="Взяти кредит" onclick="window.location.href='{{url_for('take_credit')}}';">
                Взяти кредит
            </button>
            
        </div>
        

        

    </div>

    

</body>
</html>