<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>еБАНК - Банк твоїх можливостей</title>
    <link rel="stylesheet" href="..\static\styles\notifications_styles.css">
</head>
<header class="header">
    <img src="..\static\icons\logo.png" alt="Логотип банку" class="logo">
    <h1> <a href="home_screen.html" class="ebank-field">еБАНК</a></h1>
    <div class="menu">
        <a href="exchange_rates.html" class="tab-link-fields">курс валют</a>
        <a href="for_business_screen.html" class="tab-link-fields">для бізнесу</a>
        <a href="deposits.html" class="tab-link-fields">депозит</a>
        <a href="credit_history.html" class="tab-link-fields">кредит</a>
        <a href="client_cabinet.html"><img src="..\static\icons\user.png" alt="Особистий кабінет" class="tab-link-fields-icon"></a>
    </div>
</header>
<body>
    <div class="notifications-container">
        <p class="notifications-text">Мої сповіщення</p>
        <div class="notification">
            <p class="notification-text">Питають дружину</p>
        </div>
        <div class="notification">
            <p class="notification-text">де ти береш гроші?</p>
        </div>
        <div class="notification">
            <p class="notification-text">А вона каже..</p>
        </div>

        

    </div>
    
   
    
</body>
</html>
