<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>еБАНК - Банк твоїх можливостей</title>
    <link rel="stylesheet" href="../static/styles/take_a_credit_styles.css">
</head>
<header class="header">
    <img src="..\static\icons\logo.png" alt="Логотип банку" class="logo">
    <h1> <a href="{{url_for('home_screen')}}" class="ebank-field">еБАНК</a></h1>
    <div class="menu">
        <a href="{{url_for('exchange_rates')}}" class="tab-link-fields">курс валют</a>
        <a href="{{url_for('deposits')}}" class="tab-link-fields">депозит</a>
        <a href="{{url_for('credit_history')}}" class="tab-link-fields">кредит</a>
        <a href="{{ url_for('client_cabinet') }}"><img src="..\static\icons\user.png" alt="Особистий кабінет" class="tab-link-fields-icon"></a>
    </div>
</header>
<body>
    <div class="container">
        <div class="main-content">
            <!-- Ліва секція -->
            <div class="left-section">
                <h2>Мій кредит</h2>
                <div class="credit-value-block">
                    <p class="credit-amount">Сума кредиту</p>
                    <p class="credit-value">{{credit[1]}}/{{credit[0]}} грн.</p>
                </div>
            </div>

            <!-- Права секція -->
            <div class="right-section">
                <div class="credit-details">
                    <p>Відсоткова ставка: {{credit[4]}}%</p>
                    <p>Час сплати: {{credit[6]}}</p>
                    <p>Поручитель: {{guarantor[0]}} {{guarantor[1]}} {{guarantor[2]}} {{guarantor[3]}}</p>
                </div>
             
            </div>
        </div>

        <!-- Блок кнопок -->
         <form action="{{ url_for('credit_pdf', credit_id=credit[3]) }}" method="POST" target="_blank">
            <button type="submit" class="action-button">
                <div class="arrow-button-text">Виписка кредиту</div>
            </button>
        </form>
       
    </div>
</body>
</html>
